@model HealthDataRepository.Models.ActivityType

@{
    ViewData["Title"] = "Delete Activity Type";
}



<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <span class="card-title">Are you sure you want to delete Activity Type "@Html.DisplayFor(model => model.Name)"?</span>
            </div>

            <div class="card-body">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-info">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>
