@model IEnumerable<HealthDataRepository.Models.ActivityType>

@{
    ViewData["Title"] = "Activity Types";
}

<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Activity Types</strong> 
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a> &nbsp;
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Create New Activity Type</strong>
            </div>
            <div class="card-body">
                <partial model="new HealthDataRepository.Models.ActivityType()" name="/Views/ActivityTypes/_CreateForm.cshtml" view-data="ViewData" />
            </div>
        </div>
    </div>
</div>
